<table tuiTable>
    <thead tuiThead>
      <!-- <tr tuiThGroup>
        <th tuiTh colspan="2">Name</th>
      </tr>
      <tr tuiThGroup>
        <th tuiTh>First name</th>
        <th tuiTh>Last name</th>
      </tr> -->

      <tr tuiThGroup>
        <th tuiTh *ngFor="column of columns">Name</th>
      
      </tr>
    </thead>
  
    <tbody tuiTbody>
        <!-- <ng-container *ngFor="let item of data">
            <tr class="tui-table__tr" [class.parent]="item.children" (click)="onClick(item)"> 
                <td tuiTd>{{item?.name}}</td>
                <td tuiTd>{{item?.age || '-'}}</td>
            </tr>
        </ng-container> -->
    </tbody>
</table>

<!-- <table tuiTable>
  <thead tuiThead>
    <tr tuiThGroup>
      <th tuiTh>Name</th>
      <th tuiTh>Age</th>
    </tr>
  </thead>

  <tbody tuiTbody>
    <ng-container *ngFor="let item of data">
      <ng-container
        *ngTemplateOutlet="test; context: { $implicit: item, level: 0 }"
      ></ng-container>
    </ng-container>

    <ng-template #test let-item let-level="level">
      <tr
        class="tui-table__tr"
        [class.parent]="item.children"
        (click)="onClick(item)"
      >
        <td tuiTd [ngStyle]="parseStyle(item, level)">{{ item?.name }}</td>
        <td tuiTd>{{ item?.age || '--' }}</td>
      </tr>
      <ng-container *ngIf="item.children && item?.visible">
        <ng-container *ngFor="let _item of item.children">
          <ng-container
            *ngTemplateOutlet="
              test;
              context: { $implicit: _item, level: level + 1 }
            "
          ></ng-container>
        </ng-container>
      </ng-container>
    </ng-template>
  </tbody>
</table> -->
