<table tuiTable>
  <thead tuiThead>
    <tr tuiThGroup>
      <th
        tuiTh
        *ngFor="let column of columns"
        [attr.colspan]="column?.children?.length || 1"
      >
        {{ column.column }}
      </th>
    </tr>
    <tr tuiThGroup>
      <th tuiTh *ngFor="let column of secondaryColumns">{{ column.value }}</th>
    </tr>
  </thead>

  <tbody tuiTbody>
    <ng-container *ngFor="let item of data.children">
      <ng-container
        *ngTemplateOutlet="row; context: { $implicit: item, level: 0 }"
      ></ng-container>
    </ng-container>
  </tbody>
</table>

<ng-template #row let-item let-level="level">
  <tr
    class="tui-table__tr"
    [class.parent]="item.children"
    (click)="onClick(item)"
  >
    <ng-container *ngIf="item.subtotals">
      <ng-container *ngFor="let column of secondaryColumns; let i = index">
        <td tuiTd *ngIf="i === 0" [ngStyle]="parseStyle(level)">
          {{ item?.name }}
        </td>
        <td tuiTd *ngIf="i > 0">
          {{ getTotalValue(column, item.subtotals) }}
        </td>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="item.values">
      <td tuiTd [ngStyle]="parseStyle(level)">{{ item.name }}</td>
      <td tuiTd *ngFor="let value of item.values">{{ value || '-' }}</td>
    </ng-container>
  </tr>

  <ng-container
    *ngIf="item.children && (item?.visible || !item.hasOwnProperty('visible'))"
  >
    <ng-container *ngFor="let _item of item.children">
      <ng-container
        *ngTemplateOutlet="row; context: { $implicit: _item, level: level + 1 }"
      ></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
